{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid header-img">
        <div class="row">
            <div id="shop-now-button" class="col-12 col-md-12 my-auto text-center">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 text-center">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
    <div class="container text-padding">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"><u>A Different Kind of Lashes</u></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">What Is The Difference Between Our Soft Magnetic Field And Others?</h3>
            </div>
        </div>
    </div>
    <div class="container text-padding">
        <div class="row">
            <div class="col-md-6">
                <div id="historyslide" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://shoplineimg.com/5f5c02a0a533da00285df31e/5f7ada54443469003be93847/1200x.webp?source_format=JPG" class="d-block w-100" alt="history1">
                      </div>
                      <div class="carousel-item">
                        <img src="https://shoplineimg.com/5f5c02a0a533da00285df31e/5f7ada5415dc460026f613b7/1200x.webp?source_format=JPG" class="d-block w-100" alt="history2">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#historyslide" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#historyslide" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 about-mlen">
                <p>MLEN soft magnetic permanent eyelashes use segmented magnetic attraction technology. The magnetic
                    force is precisely controlled by precision instruments to stabilize the fragile eyelashes most
                    suitable for Asian women. Easy to wear without damaging eyelashes. No sense of weight.
                </p>
                <p>The soft magnetic material is an imported polymer composite material, which is also our patented
                    product (patent number ZL 2017 1 0005 832.6), which is 2 times lighter and thinner than industrial
                    rubber magnets, and 3-4 times lighter and thinner than hard magnets;The specific magnetization
                    method makes it difficult to demagnetize, and it can be worn and used repeatedly for 2-300 times
                    without damaging the eyelashes.
                </p>
                <p>The soft magnetic surface is specially treated, so it is not easy to fall off, and it will fit the
                    eye shape more closely with the longer it is worn, and has a physical memory function.
                </p>
                <p>
                    The most important thing is that our soft magnetic is currently the world's thinnest, lightest,
                    thinnest, but the best magnetic! Global patented products!
                </p>
                <p>
                    It is only 0.15mm thick, and a pair of magnetic stripe + eyelashes weighs only 0.028 grams! No glue
                    is needed to reduce skin sensitivity, and will not be affected by the loss of your own eyelash
                    metabolism, and there is no embarrassing shedding period; it is a substitute for traditional makeup
                    eyelashes and a supplement for fashion eyelash extensions.
                </p>
            </div>
        </div>
    </div>
    <div class="container text-padding">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">MLEN Magnetic Eyelashes Reusable?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    MLEN is the most advanced magnetic eyelash in the world. As long as it is opened and stored in the
                    correct way, one set can be worn and used repeatedly, ranging from 2-300 times provided with good
                    take care. It saves time and money and is more beautiful.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-center">Let's Be Real:</h4>
                <p>Applying fake lashes is no easy feat. Between the messy glue and the dexterity required to find the
                    perfect placement, it can feel impossible to do it the right way. And that's not even to mention the
                    annoyance of trying to peel off at the end of the night. In more aways than one, false eyelashes can
                    often feel like a lot more trouble than they are worth.
                </p>
            </div>
            <div class="col-md-6">
                <h4 class="text-center">Enter Magnetic Lashes:</h4>
                <p class="text-justify">
                    A way to wear falsies without literally any of annoyance usually associated with them. Instead of
                    using lash glue - which, in addition to being wildly messy, can also cause allergies - these babies
                    stick on your lashes with magnets. Think of it all of the glam with none of the goop.
                </p>
            </div>
    </div>
{% endblock %}