html {
    height: 100%;
}

body {
    font-family: 'Open Sans Condensed';
    min-height: 100%;
}

.header-img {
    background-image: url('/media/header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 650px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

#shop-now-button {
    padding-top: 500px;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.nav-hover:hover {
    color: #FFC0CB;
}

.nav-hover {
    color: black;
}

/* ----------------------------------------- Bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}
.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.popup-message {
    font-size: larger;
    letter-spacing: 1px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* convenience classes - colors copied from bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bg-warning {
    background-color: #FFC0CB !important;
}

/* ----------------------------------------- Homepage */
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #FFC0CB;
    color: black;
}

.homepage-text {
    padding-top: 20px;
}

.homepage-paragraph p {
    font-size: large;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.threshold {
    letter-spacing: 1px;
    word-spacing: 2px;
}
  
.carousel-item img {
    margin: auto;
  }

.carousel-control-prev i, .carousel-control-next i {
    color: black;
    font-size: 30px;
}

.carousel-control-prev i:hover, .carousel-control-next i:hover {
    color: #FFC0CB;
}

.carousel-control-prev {
    left: 10%;
}

.carousel-control-next {
    right: 10%;
}

/* ----------------------------------------- Tutorial */
.tutorial-text {
    font-size: large;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}

/* ----------------------------------------- Product */

.all-eyelashes a {
    font-size: large;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: black;
}

.all-eyelashes a:hover {
    color: #FFC0CB;
    text-decoration: none;
}

.card-hover:hover .image {
    opacity: 0.3;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

.btt-link i,
.btt-link:hover {
    color: #FFC0CB;
}

.product-name {
    color: black;
    letter-spacing: 1px;
}

.product-name:hover {
    color: #FFC0CB;
    text-decoration: none;
}

/* ----------------------------------------- Product Info */
.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black span:hover,
.btn-outline-black:hover {
    background: #FFC0CB;
    color: white;
}

/* hide arrow up and down */
/* credits to https://stackoverflow.com/questions/45396280/customizing-increment-arrows-on-input-of-type-number-using-css */
input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }

  .admin-edit {
    letter-spacing: 1px;
  }

/* -------------------------------- Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #FFC0CB;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #FFC0CB;
    border-color: #FFC0CB;
    border-radius: 0;
}

/* -------------------------------- Nav Bar */ 
#all-products-link {
    color: black;
    word-spacing: 2px;
}

#all-products-link:hover {
    color: #FFC0CB;
}

.mobile-show {
    display: none;
}

/* -------------------------------- Bag */
.browse-text {
    letter-spacing: 3px;
}

.fa-shopping-cart {
    color: #FFC0CB;
}

.cart-name {
    color: black;
    letter-spacing: 1px;
}

.cart-name:hover {
    color: #FFC0CB;
    text-decoration: none;
}

.cart-img:hover .image {
    opacity: 0.5;
}

.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* -------------------------------- Shopping Cart Payment */
.payment-text,
.payment-product-text {
    font-size: large;
    letter-spacing: 1px;
}

.payment-sign {
    color: #FFC0CB !important;
}

.payment-sign:hover {
    text-decoration: none;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* -------------------------------- Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: black;
    background-color: #FFC0CB;
    border-color: #FFC0CB;
}

.forgot-password {
    color: black !important;
}

.forgot-password:hover {
    color: #FFC0CB !important;
    text-decoration: none;
}

.signup-link {
    color: #FFC0CB !important;
}

.signup-link:hover {
    color: black !important;
    text-decoration: none;
}

.allauth-icon {
    color: #FFC0CB;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/*---------------------------------------------------------------------Footer*/
.socialmedia li a {
    font-size: 22px;
    color: black;
}

.socialmedia li a i {
    margin-right: 5px;
    margin-left: 30px;
}

.socialmedia li a em {
    color: black;
    font-weight: 500;
    font-size: large;
}

.socialmedia li a:hover,
.socialmedia li em:hover {
    text-decoration: none;
    color: #FFC0CB;
}

/*----------------------------------------------------------------- Mobile Css */
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

/* mobile ver for header image and button */
@media (max-width: 480px) {
    .header-img {
        height: 300px;
    }

    #shop-now-button {
        padding-top: 230px;
    }

    .mobile-show {
        display: block;
    }
}
