<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-link mr-5 mobile-show" id="all-products-link">
                MLEN
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'products' %}" class="logo-font font-weight-bold nav-link mr-5" id="all-products-link">
                Eyelashes
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="logo-font font-weight-bold nav-link mr-5" id="all-products-link">
                Tutorial
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="logo-font font-weight-bold nav-link mr-5" id="all-products-link">
                Contact Us
            </a>
        </li>
    </ul>
</div>