{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center homepage-text">
            <h2 class="contact-icon"><i class="fas fa-file-signature"></i> Contact Us</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>

<div class="container">
    <form class="contactus-form" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="mb-3 mt-5 form-group">
            <label for="fname" class="form-label">Username</label>
            <input name="name" type="text" class="form-control" id="fname" placeholder="Username" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address" required>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <textarea class="form-control" id="subject" name="subject" rows="3" placeholder="Type your message here" required></textarea>
        </div>
        <button type="submit" class="btn btn-black rounded-0" id="submit-button">Submit</button>
    </form>
</div>
{% endblock %}